<div class= "infoContainer">
       <div class= "profileContainer">
         {{> overwatchPlayerBox}}
      </div>

      {{> overwatchStatBox}}

      <div class= "suggestedPlayers">
        <p class= "sectionTitle"> Suggested Players </p>
        <div class= "playerContainer">
          {{#each suggested}}
            {{> overwatchSuggested}}
          {{/each}}
        </div>
      </div>

      <div class="mostPlayedBox">
          <p class="sectionTitle"> Most Played </p>
          <div class="bars">
            {{#each heroes}}
              {{> overwatchHeroBar}}
            {{/each}}
          </div>
      </div>


</div>
<link rel="stylesheet" href="../../../style.css" media="screen">
