<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


a {
     text-decoration: none;
     color: white;
}


a:hover {
     color:black;
}

a:first-child{
  text-decoration: none;
  color:black;
}


body {
     background-color: rgba(230, 230, 230, 1);
     margin:0;
}


.title{
     text-align: center;
     font-size: 40px;
     font-family: 'Lucida Console','Russo One', sans-serif;
     margin: 0;
     padding: 10px;
     background-color: #4285F4;
     color: rgba(277,250, 32, 1);
}

.navitem {
     display: inline;
     padding-left: 40px;
     padding-right: 40px;
     color: white;
     font-family: 'Russo One', sans-serif;
     font-size:30px;
     margin:0px;
}
.navitem:hover{
  background-color: lightgrey;
}

.navlist {
     padding: 0px;
     margin: 0px;
}

.navbar {

     background-color: #E9ECEF;
     margin: 0px;
     padding:0px;
}

.active {

     //border-bottom: 3px solid rgba(53,148,210,1);
}

.card {
       width: 20rem;
       height: 20rem;
}

.container{
       padding: 20px;
       margin: auto;
       position: relative;
}
.row{
  margin-bottom:20px;
}
.col-md-4{
  flex: 0 1 28%;
  max-width: 28%;
  margin:20px;
}

.open > .dropdown-menu {
  display: block;
}

.dropdown{
  display: inline-block;
  margin-top:30px;
  margin-left:60px;
  margin-right:8px;
}

.dropdown-menu{
  padding-left: 10px;
}

#dropdownMenu1{
  background-image:linear-gradient(to right,#A8E6F6,#9FE3F5);
}

#dropdownMenu2{
  background-color:#5BE8A7;
}

.select-title{
  margin:60px;
  margin-left:35%;
  font-size:30px;
  font-weight:bold;
}

.content-container{
  height:100%;
  min-width: 80%;
}

.data-table{
  background-color: white;
}
